@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --bg-color: #2d0016; /* Default Background */
    --text-color: #fff; /* Default Text Color */
    --subtext-color: #9d9090;
    --textlogo-color: #fff;
    --border-color: #fff; /* Default Border Color */
}

/* Google Icons Style */
.material-icons {
    cursor: pointer;
    color: var(--materialicon-color);
}

.material-icons:hover {
    transform: scale(1.2);
    transition: ease 0.66s;
}

/* Default Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Roboto', sans-serif;
}

/* Media Breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
